.container {
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
}

@media (max-width: 700px) {
    ul li a {
        height: 50px;
        display: flex;
        align-items: center;
    }
.af_blue_1 {
        background-repeat: round;
    }
}



@media (max-width: 665px) {
    ul li a {
        height: 50px;
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: 10px;
    }
    .af_blue_1 {
        background-repeat: round;
    }
}

@media (max-width: 560px) {
    ul li a {
        height: 50px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .af_blue_1 {
         background-repeat: round;
    }
}

@media (min-width: 701px) {
    ul li a {
        padding: 10px 15px;
    }
}